.modal-user {
    position: absolute;
    width: 100%;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: cadetblue;
    border-radius: 20px;

    @media (min-width: 768px) {
        width: 600px;
        left: calc(50% - 300px);
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__button-close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        background-color: crimson;
        border-radius: 8px;
        border: none;

        &::before {
            display: block;
            content: '';
            position: absolute;
            top: calc(50% - 8px);
            left: calc(50% - 1px);
            width: 2px;
            height: 16px;
            transform: rotate(45deg);
            background-color: black;
        }

        &::after {
            display: block;
            content: '';
            position: absolute;
            top: calc(50% - 8px);
            left: calc(50% - 1px);
            width: 2px;
            height: 16px;
            transform: rotate(-45deg);
            background-color: black;
        }
    }

    &__input-field {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin: 16px 0;
        text-align: left;
    }

    &__helper-text {
        width: 100%;
        text-align: left;
        color: red;
    }

    &__button {
        width: 220px;
        height: 40px;
        font-size: 14px;
        color: black;
        background-color: grey;
        border-radius: 8px;
        border: none;
    }

    &__label {
        margin-right: 10px;
    }

    &__phone-info {
        width: 100%;
        margin: 10px 0 0;
    }
}